#content {
  margin-left: auto;
  margin-right: auto;
  size:80%;
}

h1 {
  background-color: #105D65;
  padding: 2%;
  text-align: center;
  font-family: 'Staatliches', cursive;
  color: white;
  font-size:11em;
}

h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size:7em;
}

p {
  text-align: center;
  font-size:2em;
  font-family: 'Raleway', sans-serif;
}

.nextButton{
  width: 20%;
  height:7%;
  background-color: #f29f05;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 2em;
  margin: 2% 2.5%;
  cursor: pointer;
  justify-content:center;
  font-family: 'Raleway', sans-serif;
}
.imgBottomLogo {
  border: 2% solid #ddd;
  border-radius: 4%;
  padding: 0%;
  width:12%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}